[Unit]
Description=CRK Model Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=chai
WorkingDirectory=/home/chai/Desktop/Codes/CRK-model
ExecStart=/bin/bash -c 'source .venv/bin/activate && model-service'
Restart=always
RestartSec=5
StartLimitIntervalSec=0
Environment=PATH=/home/chai/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

[Install]
WantedBy=multi-user.target
